@model sqeudulerApp.Models.TeamPageModel

@{
    ViewData["Title"] = @ViewBag.teamcontext.Item1[0];
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <title>Home | @ViewBag.teamcontext.Item1[0]</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" a href="~/css/bootstrap.css" />
    <link rel="stylesheet" a href="~/fullcalendar/packages/core/main.css" />
    <link rel="stylesheet" a href="~/fullcalendar/packages/daygrid/main.css" />
    <link rel="stylesheet" a href="~/fullcalendar/packages/timegrid/main.css" />
    <link rel="stylesheet" a href="~/fullcalendar/packages/list/main.css" />
    <script src="~/js/bootstrap.js"></script>
    <script src="~/fullcalendar/packages/core/main.js"></script>
    <script src="~/fullcalendar/packages/daygrid/main.js"></script>
    <script src="~/fullcalendar/packages/timegrid/main.js"></script>
    <script src="~/fullcalendar/packages/list/main.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        function filterAvailabilities() {
            // Declare variables
            var dateInput, endInput, startInput, ul, i;
            dateInput = document.getElementById('dateInput').value;
            startInput = document.getElementById('startInput').value + ":00";
            endInput = document.getElementById('endInput').value + ":00";

            var startTimeString = dateInput + "T" + startInput;
            var endTimeString = dateInput + "T" + endInput;

            var startFilter = new Date(Date.parse(startTimeString));
            var endFilter = new Date(Date.parse(endTimeString));

            ul = document.getElementById("availabilitylist");
            var listofavailabilities = ul.getElementsByTagName('li');

            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < listofavailabilities.length; i++) {
                var infolistofsingleavailability = listofavailabilities[i].getElementsByTagName("p");
                var nameperson = infolistofsingleavailability[0].textContent;
                var availabledate = infolistofsingleavailability[1].textContent;
                var startendtime = infolistofsingleavailability[2].textContent.split(" - ");

                var newdate = availabledate.split("/").reverse().join("-");

                var starttime = startendtime[0] + ":00";
                var endtime = startendtime[1] + ":00";

                var availablestart = new Date(Date.parse(newdate + "T" + starttime));
                var availableend = new Date(Date.parse(newdate + "T" + endtime));

                if (availablestart > startFilter && availablestart < endFilter ||
                    availableend > startFilter && availableend < endFilter ||
                    availablestart < startFilter && availableend > endFilter) {
                    listofavailabilities[i].style.display = "";
                } else {
                    listofavailabilities[i].style.display = "none";
                }
            }
        }
    </script>
    <script>
        //initialize calendar api
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                //setup view for calendar
                plugins: ['dayGrid', 'timeGrid'],
                height: 550,
                header: {
                    left: 'timeGridWeek,timeGridDay',
                    center: 'title',
                    right: 'prev,next'
                },
                timeZone: 'CET',

                events: [
                    //loop through the ViewBag.Calendar for each row, set values to FullCalendar
                             @for (int i = 0; i < ViewBag.CalCount; i++)
                             {
                                @:{
                                @: title: '@ViewBag.Calendar[i].Title',
                                 //doesnt seem to work?
                                @: description: 'bgefesg',
                                 //convert given datetime type to iso standard to string
                                @: start: '@ViewBag.Calendar[i].StartTime.ToString("yyyy-MM-ddTHH\\:mm\\:ss")',
                                @: end: '@ViewBag.Calendar[i].EndTime.ToString("yyyy-MM-ddTHH\\:mm\\:ss")',
                                @: textColor: 'white'
                                //Check rows, if it is at the end, dont and , to the event format
                                if ((ViewBag.CalCount -1) != i)
                                {
                                    @:},
                                }
                                else
                                {
                                    @:}
                                }
                            }

                        ],
                eventTimeFormat: { // like '14:30:00'
                    hour: '2-digit',
                    minute: '2-digit',
                    meridiem: false
                }
            });
            document.getElementById("test").addEventListener("click", myFunction);
            function myFunction() {
                calendar.render();
            }
            calendar.render();
        });
    </script>

    <script>
        function switchTab(evt, tabName) {
            // Declare all variables
            var i, tabcontent, tablinks;
            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";

        }
    </script>

    <script>
        document.addEventListener('click', function (event) {
            if (event.target.id == "kickButton" || event.target.id == "promoteButton" || event.target.id == "removeAvlButton") {
                var UserEmail = event.target.getAttribute("data-bag-email"); //name of attribute of the target element which we clicked on with the value which we will use in the controller: email and teamcode
                var TeamCode = event.target.getAttribute("data-bag-TC");
                var avlid = document.getElementById('removeAvlButton').dataset.av;

                var confirmRmv = document.getElementById("confirmRemove");
                var confirmPrmt = document.getElementById("confirmPromote");
                var confirmRmvAvl = document.getElementById("confirmRemoveAvl");

                confirmRmv.setAttribute("href", "/Team/RemoveUserFromTeam" + "/" + UserEmail + "/" + TeamCode);
                confirmPrmt.setAttribute("href", "/Team/PromoteUserInTeam" + "/" + UserEmail + "/" + TeamCode);
                confirmRmvAvl.setAttribute("href", "/Team/RemoveAvailability" + "/" + avlid + "/" + TeamCode);
            }
        });
    </script>

    <script>
        document.addEventListener('click', function (event) {
            if (event.target.id == "scheduleButton") {
                var UserId = event.target.dataset.usrid; //name of attribute of the target element which we clicked on with the value which we will use in the controller: email and teamcode
                var UserName = event.target.dataset.usrname;
                var AvailableDate = event.target.dataset.avldate;
                var AvailableStartTime = event.target.dataset.avlstart + ":00";
                var AvailableEndTime = event.target.dataset.avlend + ":00";
                var TeamCode = event.target.getAttribute("data-bag-TC");

                var newdate = AvailableDate.split("/").reverse().join("-");
                var AvlStart = new Date(Date.parse(newdate + "T" + AvailableStartTime));
                var AvlEnd = new Date(Date.parse(newdate + "T" + AvailableEndTime));

/*                document.getElementById("ShiftUserId").setAttribute('value', UserId); 
                document.getElementById("ShiftUserName").setAttribute('value', UserName);
                document.getElementById("ShiftUserTeamCode").setAttribute('value', TeamCode);
                document.getElementById("AvailableStart").setAttribute('value', AvlStart);
                document.getElementById("AvailableEnd").setAttribute('value', AvlEnd);*/

                document.getElementById("ShiftUserId").value = UserId; 
                document.getElementById("ShiftUserName").value = UserName;
                document.getElementById("ShiftUserTeamCode").value = TeamCode;
                document.getElementById("AvailableStart").value = AvlStart;
                document.getElementById("AvailableEnd").value = AvlEnd;

            }
        });
    </script>

    <script>

            document.addEventListener('click', function (event) {
                if (event.target.id == "confirmSchedule") {
                

                    var AvailableStart = new Date(document.getElementById('AvailableStart').value);
                    var AvailableEnd = new Date(document.getElementById('AvailableEnd').value);
                    var TeamCode = document.getElementById('ShiftUserTeamCode').value;
                    var UserName = document.getElementById('ShiftUserName').value;
                    var UserId = document.getElementById('ShiftUserId').value;

                    var ShiftDate = document.getElementById('ShiftDate').value;
                    var ShiftStart = document.getElementById('ShiftStart').value;
                    var ShiftEnd = document.getElementById('ShiftEnd').value;


                    var startTimeShift = new Date(Date.parse(ShiftDate + "T" + ShiftStart + ":00"));
                    var endTimeShift = new Date(Date.parse(ShiftDate + "T" + ShiftEnd + ":00"));

                    var test1 = startTimeShift >= AvailableStart;
                    var test2 = startTimeShift < AvailableEnd;
                    var test3 = endTimeShift > AvailableStart;
                    var test4 = endTimeShift <= AvailableEnd;

                    if (test1 && test2 && test3 && test4) {

                        var url = '@Url.Action("ScheduleMember", "Team", new { UID= "UserId", start= "startTimeShift", end= "endTimeShift" })';

                        url = url.replace("UserId", UserId);

                        url = url.replace("startTimeShift", startTimeShift.getTime());

                        url = url.replace("endTimeShift", endTimeShift.getTime());
                        url = url.replace(/\s/g, '');
                        url = url.replace(/\s/g, '');
                        url = url.replace(/\s/g, '');
                        alert(url); //just for debugging

                        window.location.href = url;

                    }
                    else {
                        alert("Members can only be scheduled in their available time periods.");
                    }
            
                    
                }
            });

    </script>

    <style>
        #filterbutton {
            width: 100%
        }

        .recursive-container {
            width: 100%;
            height: auto;
            padding: 0px;
            margin: 0px;
            margin-bottom: 8px;
            overflow: auto;
            background: #999;
            display: inline-block;
            vertical-align: top; /* here */
        }

        ul {
            list-style-type: none;
        }

        /* Split the screen in half */
        .split {
            height: 100%;
            width: 50%;
            position: absolute;
            overflow-x: hidden;
        }
        /* Control the left side */
        .left {
            left: 0;
        }
        /* Control the right side */
        .right {
            right: 0;
        }
        /* If you want the content centered horizontally and vertically */
        .centered {
            position: absolute;
            left: 10%;
            text-align: center;
        }

        .form {
            padding: 25px;
        }

        .top-row {
            background-color: #e6e6e6;
            padding: 10px;
        }

        .loginForm {
            padding: 5%;
        }

        .logo {
            height: 100%;
            width: 150px;
            background-color: grey;
            color: white;
            border: 1px solid grey;
            border-radius: 3px;
        }

        .header {
            padding-top: 5%;
        }

        .btn {
            text-align: center;
        }
        /* Style the tab */
        .tab {
            overflow: visible;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
            width: 100%;
            display: inline-flex;
        }

            /* Style the buttons that are used to open the tab content */
            .tab button {
                flex: 1 100%;
                display: inline-block;
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
                z-index: 1;
            }

                /* Change background color of buttons on hover */
                .tab button:hover {
                    background-color: #ddd;
                }

                /* Create an active/current tablink class */
                .tab button.active {
                    background-color: #ccc;
                }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border-top: none;
        }

        .pre-inner {
            position: relative;
            overflow-y: scroll;
            overflow-x: visible;
            width: 600px;
            height: 500px;
            margin: 0px auto 0px;
            padding: 0px;
            text-align: center;
        }

        .teamimage {
            width: 70%;
            height: 60%;
        }

        .memberinfocontainer {
            width: 300px;
            height: auto;
            display: inline-block;
        }

        .memberinfo {
            margin: 0px;
            padding: 2px;
        }

        .transformer {
            transition: width 0.5s, height 0.5s;
        }

        .memberinfocontainer:hover {
            width: 500px;
            height: auto;
            background-color: #ddd;
        }

            .memberinfocontainer:hover .HiddenText {
                display: block;
                margin: 0px;
                padding: 2px;
            }

        .HiddenText {
            display: none;
        }

        #kickButton {
            width: 100%;
        }

        .modal-footer {
            display: inline;
            text-align: center;
        }

        .confirmationbutton {
            width: 45%;
        }
    </style>
</head>

<body>
    <div class="container-fluid h-100">
        <div class="row top-row border rounded">
            <div class="col-2 text-center top-logo">
                <h3 class="logo">Squeduler</h3>
            </div>
            <div class="col-10 text-right">
                <button type="button" class="btn btn-outline-secondary" onclick="location.href='javascript:history.go(-1)'">Go to your teams</button>
            </div>
        </div>
        <div class="row">
            <div class="tab col">
                <button class="tablinks" onclick="switchTab(event, 'Main')">Main</button>
                <button class="tablinks" onclick="switchTab(event, 'Personal')">Personal</button>
                <button id="test" class="tablinks" onclick="switchTab(event, 'Schedule')">Schedule</button>
                <button class="tablinks" onclick="switchTab(event, 'TeamInfo')">TeamInfo</button>
            </div>
        </div>


        @if (ViewBag.teamcontext.Item3 == "member")
        {
            <!-- Tab content -->
            <div id="Main" class="tabcontent">
                <h3>Main BAWS PAGE</h3>
                <p>Recent activities and requests</p>
                <div class="row">
                    <div class="col-md-4" style="height: 560px; border-style: solid; background-color: #bbbbbb; border-width: 10px; border-color: #3d3d3d;">
                        <h4>Requests for: @ViewBag.Username</h4>
                        <div class="overflow-auto" style="overflow-auto; height: 500px; background-color: #bbbbbb;">
                            <div class="container">
                                <div class="row">
                                    @foreach (TeamPageModel.Requests_Site request in ViewBag.Requests)
                                    {

                                        <div id="Model_request_detail_@request.Mssg_ID" class="modal fade" role="dialog">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                                    </div>
                                                    <h4 class="modal-title">Title: @request.Title</h4>
                                                    <div class="modal-body">
                                                        <h6>Description:</h6>
                                                        <p>@request.Text.</p>

                                                        <input type="date" placeholder="@request.Date" />
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-12 mt-2" style="height:100%; width:50%; border-style: solid; background-color: #808080; border-width: 2px; border-color: #333333;">
                                            <div class="container">
                                                <div class="row align-items-start" style="text-align: center; background-color: #3d3d3d; color: white; border-style: solid; border-width: 2px; border-color: #333333;">
                                                    <h2>@Html.DisplayFor(modelItem => request.Title)</h2>
                                                </div>
                                                <div class="row align-items-center">
                                                    <div class="col-md-12 mt-2">
                                                        <b>Requester</b>: @request.Name_Sender
                                                    </div>
                                                    @{
                                                        if (request.Co_Receiver_ID >= 0)
                                                        {
                                                            <div class="col-md-12 mt-2">
                                                                <b>Co_Reciever</b>: @request.Name_Co_Receiver
                                                            </div>
                                                            <div class="col-md-12 mt-2">
                                                                @{
                                                                    string name = request.Name_Co_Receiver;
                                                                    if (request.Co_Receiver_ID == ViewBag.UserID)
                                                                    {
                                                                        name = "You";
                                                                    }
                                                                    if (request.Co_Recvr_Approved)
                                                                    {
                                                                        <div class="col">
                                                                            <button style="width: 100%" class="btn btn-warning">Approved by @name</button>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="col">
                                                                            <button style="width: 100%" class="btn btn-danger">Not Approved by @name</button>
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                        }
                                                    }
                                                    <div class="col-md-12 mt-2">
                                                        @Html.DisplayFor(modelItem => request.Date)
                                                    </div>
                                                    <div class="col-md-12 mt-2">
                                                        <button type="button" style="width: 100%; border-color: black; border-width:2px;" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Model_request_detail_@request.Mssg_ID">Show Details</button>
                                                    </div>
                                                </div>
                                                @{
                                                    if (request.Co_Receiver_ID == ViewBag.UserID)
                                                    {
                                                        <div class="row align-items-end">
                                                            @{
                                                                if (!request.Co_Recvr_Approved)
                                                                {
                                                                    <div class="col">
                                                                        <a asp-action="Approve_request" asp-controller="Team" asp-route-id="@request.Mssg_ID"> <button style="width: 100%; border-color: black; border-width:2px;" type="button" class="btn btn-success">Approve Request</button></a>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="col">
                                                                        <a asp-action="Disapprove_request" asp-controller="Team" asp-route-id="@request.Mssg_ID"><button style="width: 100%; border-color: black; border-width:2px;" type="button" class="btn btn-danger">Disapprove Request</button></a>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    }
                                                    if (request.Sender_ID == ViewBag.UserID)
                                                    {
                                                        <div class="row align-items-end">
                                                            <div class="col">
                                                                <a asp-action="Delete_request" asp-controller="Team" asp-route-id="@request.Mssg_ID"><button style="width: 100%; border-color: black; border-width:2px;" type="button" class="btn btn-danger">Delete Request</button></a>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>

            <div id="Personal" class="tabcontent">
                <h3>Personal</h3>
                <p>Total hours and availability</p>

                @*Girts*@
                <div class="split left">
                    <div class="centered">
                        <h5>Your availabilities</h5>
                        <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#AvailabilityPopup" id="TESTProvideHoursBtn">Provide Availability</button>
                        <br />
                        <div class="rounded border pre-inner">
                            @foreach (List<string> availability in ViewBag.teamcontext.Item4)
                            {
                                <div class="rounded border memberinfocontainer transformer">
                                    <p class="avlinfo">@availability[3]</p>
                                    <p class="avlinfo">@availability[4] till @availability[5]</p>
                                    <div class="HiddenText">

                                        <button type="button" data-av="@availability[0]" data-bag-TC="@ViewBag.teamcontext.Item1[2]" data-toggle="modal" data-target="#confirmRemoveAvailability" id="removeAvlButton" class="btn btn-danger button">Delete availability</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                @*Gerdwin*@

                <div class="split right">
                    <div class="centered">
                        <h5>Send message</h5>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <form asp-action="Create" asp-controller="Requests">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Requests.Title" class="control-label"></label>
                                        <input asp-for="Requests.Title" placeholder="Enter a Title..." class="form-control" />
                                        <span asp-validation-for="Requests.Title" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Requests.Text" class="control-label"></label>
                                        <input asp-for="Requests.Text" placeholder="Request..." class="form-control" />
                                        <span asp-validation-for="Requests.Text" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input hidden type="hidden" asp-for="Requests.Sender_ID" value="@ViewBag.UserID" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <input hidden type="hidden" asp-for="Requests.Team_Code" value="@ViewBag.Teamcode" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Requests.Co_Receiver_ID" class="control-label"></label>
                                        <select asp-for="Requests.Co_Receiver_ID" class="form-control" id="sel1">
                                            @{
                                                <option value=-1>Nobody</option>
                                                @foreach (List<string> member in ViewBag.teamcontext.Item2)
                                                {
                                                    if (member[2] != "admin" && Int32.Parse(member[5]) != ViewBag.UserID)
                                                    {
                                                        <option value=@member[5]>@member[0] @member[1]</option>
                                                    }
                                                }
                                            }
                                        </select>
                                        <span asp-validation-for="Requests.Co_Receiver_ID" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="Schedule" class="tabcontent">
                <div id="calendar"></div>

                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>

            <div id="TeamInfo" class="tabcontent">
                <div class="split left">
                    <div class="centered">
                        <h5>Team Info </h5>
                        <div class="rounded border pre-inner">
                            <!--pushes the header up for some reason-->
                            <!----<img class="teamimage" src="http://lorempixel.com/600/120/"/>--->
                            <p>Owner: @ViewBag.teamcontext.Item1[5]</p>
                            <p>Team name: @ViewBag.teamcontext.Item1[0]</p>
                            <p>Address: @ViewBag.teamcontext.Item1[3]</p>
                            <p>Zipcode: @ViewBag.teamcontext.Item1[4]</p>
                            <p>City: @ViewBag.teamcontext.Item1[1]</p>
                            <p>Team code: @ViewBag.teamcontext.Item1[2]</p>

                        </div>
                    </div>
                </div>
                <div class="split right">
                    <div class="centered">
                        <h5>Team Members</h5>
                        <div class="rounded border pre-inner">

                            @foreach (List<string> member in ViewBag.teamcontext.Item2)
                            {
                                <div class="rounded border memberinfocontainer transformer">
                                    <p class="memberinfo">@member[0] @member[1]</p>
                                    <p class="memberinfo">@member[2]</p>
                                    <div class="HiddenText">
                                        <p class="memberinfo">@member[3]</p>
                                        <p class="memberinfo">@member[4]</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <!-- Tab content -->
            <div id="Main" class="tabcontent">
                <h3>Main BAWS PAGE</h3>
                <p>Recent activities and requests</p>
                <div class="row">
                    <div class="col-md-4" style="height: 560px; border-style: solid; background-color: #bbbbbb; border-width: 10px; border-color: #3d3d3d;">
                        <h4>Requests for: @ViewBag.Username</h4>
                        <div class="overflow-auto" style="overflow-auto; height: 500px; background-color: #bbbbbb;">
                            <div class="container">
                                <div class="row">
                                    @foreach (TeamPageModel.Requests_Site request in ViewBag.AllRequests)
                                    {

                                        <div id="Model_request_detail_@request.Mssg_ID" class="modal fade" role="dialog">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                                    </div>
                                                    <h4 class="modal-title">Title: @request.Title</h4>
                                                    <div class="modal-body">
                                                        <h6>Description:</h6>
                                                        <p>@request.Text.</p>

                                                        <input type="date" placeholder="@request.Date" />
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-12 mt-2" style="height:100%; width:50%; border-style: solid; background-color: #808080; border-width: 2px; border-color: #333333;">
                                            <div class="container">
                                                <div class="row align-items-start" style="text-align: center; background-color: #3d3d3d; color: white; border-style: solid; border-width: 2px; border-color: #333333;">
                                                    <h2>@Html.DisplayFor(modelItem => request.Title)</h2>
                                                </div>
                                                <div class="row align-items-center">
                                                    <div class="col-md-12 mt-2">
                                                        <b>Requester</b>: @request.Name_Sender
                                                    </div>
                                                    @{
                                                        if (request.Co_Receiver_ID >= 0)
                                                        {
                                                            <div class="col-md-12 mt-2">
                                                                <b>Co_Reciever</b>: @request.Name_Co_Receiver
                                                            </div>
                                                            <div class="col-md-12 mt-2">
                                                                @{
                                                                    if (request.Co_Recvr_Approved)
                                                                    {
                                                                        <div class="col">
                                                                            <button style="width: 100%" class="btn btn-warning">Approved by co-reciever</button>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="col">
                                                                            <button style="width: 100%" class="btn btn-danger">Not Approved by co-reciever</button>
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                        }
                                                    }
                                                    Date:
                                                    <div class="col-md-12 mt-2">
                                                        @Html.DisplayFor(modelItem => request.Date)
                                                    </div>
                                                    <div class="col-md-12 mt-2">
                                                        <button type="button" style="width: 100%; border-color: black; border-width:2px;" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Model_request_detail_@request.Mssg_ID">Show Details</button>
                                                    </div>
                                                </div>
                                                <div class="row align-items-end">
                                                    <div class="col">
                                                        @{
                                                            //has co reciever
                                                            if (request.Co_Receiver_ID >= 0)
                                                            {
                                                                //is approved by co reciever
                                                                if (request.Co_Recvr_Approved)
                                                                {
                                                                    <button style="width: 100%; border-color: black; border-width:2px;" type="button" class="btn btn-success">Accept</button>
                                                                }
                                                                //not approved by co reciever
                                                                else
                                                                {
                                                                    <button style="width: 100%; border-color: black; border-width:2px;" class="btn btn-danger">Not Approved by Co-reciever</button>
                                                                }
                                                            }
                                                            //has no co reciever
                                                            else
                                                            {
                                                                <a asp-action="Accept_request" asp-controller="Team" asp-route-id="@request.Mssg_ID"><button style="width: 100%; border-color: black; border-width:2px;" type="button" class="btn btn-success">Accept Request</button></a>
                                                            }
                                                        }
                                                    </div>

                                                    <div class="row align-items-end">
                                                        <div class="col">
                                                            <a asp-action="Delete_request" asp-controller="Team" asp-route-id="@request.Mssg_ID"><button style="width: 100%; border-color: black; border-width:2px;" type="button" class="btn btn-danger">Delete Request</button></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>

            <div id="Personal" class="tabcontent">
                <h3>Personal</h3>
                <p>Total hours and availability</p>

                @*Girts*@
                <div class="split left">
                    <div class="centered">
                        <h5>Your availabilities</h5>
                        <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#AvailabilityPopup" id="TESTProvideHoursBtn">Provide Availability</button>
                        <br />
                        <div class="rounded border pre-inner">
                            @foreach (List<string> availability in ViewBag.teamcontext.Item4)
                            {
                                <div class="rounded border memberinfocontainer transformer">
                                    <p class="avlinfo">@availability[3]</p>
                                    <p class="avlinfo">@availability[4] till @availability[5]</p>
                                    <div class="HiddenText">

                                        <button type="button" data-av="@availability[0]" data-bag-TC="@ViewBag.teamcontext.Item1[2]" data-toggle="modal" data-target="#confirmRemoveAvailability" id="removeAvlButton" class="btn btn-danger button">Delete availability</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                @*Gerdwin*@

                <div class="split right">
                    <div class="centered">
                        <h5>Send message</h5>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <form asp-action="Create" asp-controller="Requests">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Requests.Title" class="control-label"></label>
                                        <input asp-for="Requests.Title" placeholder="Enter a Title..." class="form-control" />
                                        <span asp-validation-for="Requests.Title" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Requests.Text" class="control-label"></label>
                                        <input asp-for="Requests.Text" placeholder="Request..." class="form-control" />
                                        <span asp-validation-for="Requests.Text" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input hidden type="hidden" asp-for="Requests.Sender_ID" value="@ViewBag.UserID" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <input hidden type="hidden" asp-for="Requests.Team_Code" value="@ViewBag.Teamcode" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Requests.Co_Receiver_ID" class="control-label"></label>
                                        <select asp-for="Requests.Co_Receiver_ID" class="form-control" id="sel1">
                                            @{
                                                <option value=-1>Nobody</option>
                                                @foreach (List<string> member in ViewBag.teamcontext.Item2)
                                                {
                                                    if (member[2] != "admin" && Int32.Parse(member[5]) != ViewBag.UserID)
                                                    {
                                                        <option value=@member[5]>@member[0] @member[1]</option>
                                                    }
                                                }
                                            }
                                        </select>
                                        <span asp-validation-for="Requests.Co_Receiver_ID" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="Schedule" class="tabcontent">

                <div id="calendar"></div>
                <table style="width:100%;"><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr></table>
                <br>

                <div id="availabilitycontainer" class="rounded border pre-inner">
                    <div class="rounded border recursive-container">
                        <div>
                            <label for="dateIinput">Start date:</label>
                            <input type="date" id="dateInput" value="">
                        </div>
                        <div>
                            <label for="startInput">Start time:</label>
                            <input type="time" id="startInput" value="">
                        </div>
                        <div>
                            <label for="endInput">End time:</label>
                            <input type="time" id="endInput" value="">
                        </div>
                        <div>
                            <button class="btn btn-info button-primary" id="filterbutton" onclick="filterAvailabilities()">FILTER</button>
                        </div>
                    </div>
                    <ul id="availabilitylist">
                        @foreach (List<string> availability in ViewBag.teamcontext.Item4)
                        {
                            <li>
                                <div class="rounded border memberinfocontainer transformer">
                                    <p class="memberinfo">@availability[6]</p>
                                    <p class="memberinfo">@availability[3]</p>
                                    <p class="memberinfo">@availability[4] - @availability[5]</p>
                                    <div class="HiddenText">
                                        <button type="button" 
                                                data-usrid="@availability[1]" 
                                                data-usrname="@availability[6]"
                                                data-avldate="@availability[3]"
                                                data-avlstart="@availability[4]"
                                                data-avlend="@availability[5]"
                                                data-bag-TC="@ViewBag.teamcontext.Item1[2]" 
                                                data-toggle="modal" data-target="#SchedulePopup" 
                                                id="scheduleButton" class="btn btn-info button">SCHEDULE</button>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>

                </div>
            </div>

            <div id="TeamInfo" class="tabcontent">
                <div class="split left">
                    <div class="centered">
                        <h5>Team Info </h5>
                        <div class="rounded border pre-inner">
                            <!--pushes the header up for some reason-->
                            <!----<img class="teamimage" src="http://lorempixel.com/600/120/"/>--->
                            <p>Owner: @ViewBag.teamcontext.Item1[5]</p>
                            <p>Team name: @ViewBag.teamcontext.Item1[0]</p>
                            <p>Address: @ViewBag.teamcontext.Item1[3]</p>
                            <p>Zipcode: @ViewBag.teamcontext.Item1[4]</p>
                            <p>City: @ViewBag.teamcontext.Item1[1]</p>
                            <p>Team code: @ViewBag.teamcontext.Item1[2]</p>
                        </div>
                    </div>
                </div>
                <div class="split right">
                    <div class="centered">
                        <h5>Team Members</h5>
                        <div class="rounded border pre-inner">

                            @foreach (List<string> member in ViewBag.teamcontext.Item2)
                            {
                                <div class="rounded border memberinfocontainer transformer">
                                    <p class="memberinfo">@member[0] @member[1]</p>
                                    <p class="memberinfo">@member[2]</p>
                                    <div class="HiddenText">
                                        <p class="memberinfo">@member[3]</p>
                                        <p class="memberinfo">@member[4]</p>
                                        @if (member[2] == "member")
                                        {
                                            <button type="button" data-bag-email="@member[4]" data-bag-TC="@ViewBag.teamcontext.Item1[2]" data-toggle="modal" data-target="#ConfirmRmvMember" id="kickButton" class="btn btn-danger button">REMOVE MEMBER FROM TEAM</button>
                                            <button type="button" data-bag-email="@member[4]" data-bag-TC="@ViewBag.teamcontext.Item1[2]" data-toggle="modal" data-target="#ConfirmPrmtMember" id="promoteButton" class="btn btn-info button">PROMOTE</button>
                                        }
                                        else
                                        {
                                            <button type="button" id="kickButton" class="btn btn-danger disabled button">REMOVE MEMBER FROM TEAM</button>
                                            <button type="button" id="promoteButton" class="btn btn-info disabled button">PROMOTE</button>
                                        }
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        }


    </div>

    @* design of the popup *@
    <div class="container">
        <div class="modal fade" tabindex="-1" id="ConfirmRmvMember" data-keyboard="false" data-backdrop="static" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Are you sure?</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>They might start hating you for this >:(</p>
                    </div>
                    <div class="modal-footer">
                        <a id="confirmRemove" href="/Team/RemoveUserFromTeam">
                            <div class="pre-info">
                                <span class="btn btn-outline-danger confirmationbutton">YES</span>
                            </div>
                        </a>
                        <button type="button" class="btn btn-outline-dark confirmationbutton" data-dismiss="modal">NO!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="modal fade" tabindex="-1" id="ConfirmPrmtMember" data-keyboard="false" data-backdrop="static" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Are you sure?</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Promotions cannot me reversed!</p>
                    </div>
                    <div class="modal-footer">
                        <a id="confirmPromote" href="/Team/PromoteUserInTeam">
                            <div class="pre-info">
                                <span class="btn btn-outline-danger confirmationbutton">YES</span>
                            </div>
                        </a>
                        <button type="button" class="btn btn-outline-dark confirmationbutton" data-dismiss="modal">NO!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="modal fade" tabindex="-1" id="confirmRemoveAvailability" data-keyboard="false" data-backdrop="static" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Are you sure you want to remove this entry?</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-footer">
                        <a id="confirmRemoveAvl" href="/Team/RemoveAvailability">
                            <div class="pre-info">
                                <span class="btn btn-outline-danger confirmationbutton">YES</span>
                            </div>
                        </a>
                        <button type="button" class="btn btn-outline-dark confirmationbutton" data-dismiss="modal">NO</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* end of the design of the popup *@
    @* design of the availability popup *@
    <div class="container">
        <div class="modal fade" tabindex="-1" id="AvailabilityPopup" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Provide Availability:</h4>
                    </div>
                    <div class="modal-body">
                        <form asp-action="ProvideAvailability">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="md-form">
                                <label asp-for="availability.work_date" class="control-label">Date:</label>
                                <input asp-for="availability.work_date" type="date" class="form-control datepicker" placeholder="Selected date">
                                <span asp-validation-for="availability.work_date" class="text-danger"></span>
                            </div>
                            <div class="md-form">
                                <br />
                                <label asp-for="availability.start_work_hour" class="control-label">Start Time:</label>
                                <input asp-for="availability.start_work_hour" type="time" step="60" class="form-control datepicker" placeholder="Start Time">
                                <span asp-validation-for="availability.start_work_hour" class="text-danger"></span>
                            </div>
                            <div class="md-form">
                                <br />
                                <label asp-for="availability.end_work_hour" class="control-label">End Time:</label>
                                <input asp-for="availability.end_work_hour" type="time" step="60" class="form-control datepicker" placeholder="End Time">
                                <span asp-validation-for="availability.end_work_hour" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <br />
                                <input asp-for="availability.team_id" type="hidden" value="@ViewBag.teamcontext.Item1[2]">
                                <button type="submit" class="btn btn-outline-secondary">Submit</button>
                                <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-primary button">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* end of the design of the availability popup *@

    <div class="container">
        <div class="modal fade" tabindex="-1" id="SchedulePopup" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Schedule groupmember:</h4>
                    </div>
                    <div class="modal-body">
                        <div class="md-form">
                            <label class="control-label">Date:</label>
                            <input id="ShiftDate" type="date" class="form-control datepicker" placeholder="Selected date" value="">
                        </div>
                        <div class="md-form">
                            <br />
                            <label class="control-label">Start Time:</label>
                            <input id="ShiftStart" type="time" step="60" class="form-control datepicker" placeholder="Start Time" value="">
                        </div>
                        <div class="md-form">
                            <br />
                            <label class="control-label">End Time:</label>
                            <input id="ShiftEnd" type="time" step="60" class="form-control datepicker" placeholder="End Time" value="">
                        </div>
                        <div class="form-group">
                            <br />
                            <input id="ShiftUserId" type="hidden" value="">
                            <input id="ShiftUserName" type="hidden" value="">
                            <input id="ShiftUserTeamCode" type="hidden" value="@ViewBag.teamcontext.Item1[2]">
                            <input id="AvailableStart" type="hidden" value="">
                            <input id="AvailableEnd" type="hidden" value="">
                        </div>
                        <div class="modal-footer">
                            <button id="confirmSchedule" class="btn btn-outline-secondary">Schedule Shift</button>
                            <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-primary button">Cancel</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>