@model IEnumerable<sqeudulerApp.Models.User>

@{
    ViewData["Title"] = @ViewBag.teamcontext.Item1[0];
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <link rel="stylesheet" a href="~/css/bootstrap.css" />
    <script src="~/js/bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>Home | @ViewBag.teamcontext.Item1[0]</title>

    @* JS to open modal popup *@
    <script src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        function switchTab(evt, tabName) {
          // Declare all variables
          var i, tabcontent, tablinks;

          // Get all elements with class="tabcontent" and hide them
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }

          // Get all elements with class="tablinks" and remove the class "active"
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }

          // Show the current tab, and add an "active" class to the button that opened the tab
          document.getElementById(tabName).style.display = "block";
          evt.currentTarget.className += " active";
        }

    </script>
    @* end of JS to open modal popup *@

    <style>

        /* Split the screen in half */
        .split {
          height: 100%;
          width: 50%;
          position: absolute;
          overflow-x: hidden;
        }

        /* Control the left side */
        .left {
          left: 0;
        }

        /* Control the right side */
        .right {
          right: 0;
        }

        /* If you want the content centered horizontally and vertically */
        .centered {
          position: absolute;
          left: 10%;
          text-align: center;
        }

        .form {
            padding: 25px;
        }

        .top-row {
            background-color: #e6e6e6;
            padding: 10px;
        }

        .loginForm {
            padding: 5%;
        }

        .logo {
            height: 100%;
            width: 150px;
            background-color: grey;
            color: white;
            border: 1px solid grey;
            border-radius: 3px;
        }

        .header {
            padding-top: 5%;
        }

        .btn {
            text-align: center;
        }

        /* Style the tab */
        .tab {
            overflow: visible;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
            width: 100%;
            display: inline-flex;
        }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            flex: 1 100%;
            display: inline-block;
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            z-index: 1;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border-top: none;
        }

        .pre-inner {
            position: relative;
            overflow-y: scroll;
            overflow-x: visible;
            width: 600px;
            height: 500px;
            margin: 0px auto 0px;
            padding: 10px 20px;
            text-align: center;
        }

        .teamimage {
            width: 70%;
            height: 60%;
        }

        .memberinfocontainer {
            width: 300px;
            height: auto;
            display: inline-block;
        }

        .memberinfo {
            margin: 0px;
            padding: 2px;
        }

        .transformer {
            transition: width 0.5s, height 0.5s;
        }

        .memberinfocontainer:hover{
            width: 500px;
            height: auto;
            background-color: #ddd;
        }

        .memberinfocontainer:hover .HiddenText{
            display: block;
            margin: 0px;
            padding: 2px;
        }

        .HiddenText {
            display: none;
        }

        #kickButton{width: 100%;}

        .modal-footer {
            display: inline;
            text-align: center;
        }

        .confirmationbutton {
            width: 45%;
        }

    </style>
</head>

<body>
    <div class="container-fluid h-100">
        <div class="row top-row border rounded">
            <div class="col-2 text-center top-logo">
                <h3 class="logo">Squeduler</h3>
            </div>
            <div class="col-10 text-right">
                <button type="button" class="btn btn-outline-secondary" onclick="location.href='javascript:history.go(-1)'">Go to your teams</button>
            </div>
        </div>
        <div class="row">
            <div class="tab col">
                <button class="tablinks" onclick="switchTab(event, 'Main')">Main</button>
                <button class="tablinks" onclick="switchTab(event, 'Personal')">Personal</button>
                <button class="tablinks" onclick="switchTab(event, 'Schedule')">Schedule</button>
                <button class="tablinks" onclick="switchTab(event, 'TeamInfo')">TeamInfo</button>
            </div>
        </div>


        @if (ViewBag.teamcontext.Item3 == "member")
        {
            <!-- Tab content -->
            <div id="Main" class="tabcontent">
                <h3>Main MEMBER PAGE</h3>
                <p>Recent activities and requests</p>
            </div>

            <div id="Personal" class="tabcontent">
                <h3>Personal MEMBER PAGE</h3>
                <p>Total hours and availability</p>
            </div>

            <div id="Schedule" class="tabcontent">
                <h3>Schedule MEMBER PAGE</h3>
                <p>Team schedule and request buttons</p>
            </div>
            <div id="TeamInfo" class="tabcontent">
                <div class="split left">
                    <div class="centered">
                        <h5>Team Info </h5>
                        <div class="rounded border pre-inner">
                            <!--pushes the header up for some reason-->
                            <!----<img class="teamimage" src="http://lorempixel.com/600/120/"/>--->
                            <p>Owner: @ViewBag.teamcontext.Item1[5]</p>
                            <p>Team name: @ViewBag.teamcontext.Item1[0]</p>
                            <p>Address: @ViewBag.teamcontext.Item1[3]</p>
                            <p>Zipcode: @ViewBag.teamcontext.Item1[4]</p>
                            <p>City: @ViewBag.teamcontext.Item1[1]</p>
                            <p>Team code: @ViewBag.teamcontext.Item1[2]</p>
                        </div>
                    </div>
                </div>
                <div class="split right">
                    <div class="centered">
                        <h5>Team Members</h5>
                        <div class="rounded border pre-inner">

                            @foreach (List<string> member in ViewBag.teamcontext.Item2)
                            {
                                <div class="rounded border memberinfocontainer transformer">
                                    <p class="memberinfo">@member[0] @member[1]</p>
                                    <p class="memberinfo">@member[2]</p>
                                    <div class="HiddenText">
                                        <p class="memberinfo">@member[3]</p>
                                        <p class="memberinfo">@member[4]</p>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <!-- Tab content -->
            <div id="Main" class="tabcontent">
                <h3>Main BAWS PAGE</h3>
                <p>Recent activities and requests</p>
            </div>

            <div id="Personal" class="tabcontent">
                <h3>Personal RATATATAAT</h3>
                <p>Total hours and availability</p>
            </div>

            <div id="Schedule" class="tabcontent">
                <h3>Schedule HANDGRANAAT</h3>
                <p>Team schedule and request buttons</p>
            </div>
            <div id="TeamInfo" class="tabcontent">
                <div class="split left">
                    <div class="centered">
                        <h5>Team Info </h5>
                        <div class="rounded border pre-inner">
                            <!--pushes the header up for some reason-->
                            <!----<img class="teamimage" src="http://lorempixel.com/600/120/"/>--->
                            <p>Owner: @ViewBag.teamcontext.Item1[5]</p>
                            <p>Team name: @ViewBag.teamcontext.Item1[0]</p>
                            <p>Address: @ViewBag.teamcontext.Item1[3]</p>
                            <p>Zipcode: @ViewBag.teamcontext.Item1[4]</p>
                            <p>City: @ViewBag.teamcontext.Item1[1]</p>
                            <p>Team code: @ViewBag.teamcontext.Item1[2]</p>
                        </div>
                    </div>
                </div>
                <div class="split right">
                    <div class="centered">
                        <h5>Team Members</h5>
                        <div class="rounded border pre-inner">

                            @foreach (List<string> member in ViewBag.teamcontext.Item2)
                            {
                                <div class="rounded border memberinfocontainer transformer">
                                    <p class="memberinfo">@member[0] @member[1]</p>
                                    <p class="memberinfo">@member[2]</p>
                                    <div class="HiddenText">
                                        <p class="memberinfo">@member[3]</p>
                                        <p class="memberinfo">@member[4]</p>
                                        @if (member[2] == "member")
                                        {
                                            <button type="button" data-toggle="modal" data-target="#ConfirmRmvMember" id="kickButton" class="btn btn-danger button">REMOVE MEMBER FROM TEAM</button>
                                        }
                                        else {
                                            <button type="button" id="kickButton" class="btn btn-danger disabled button">REMOVE MEMBER FROM TEAM</button>
                                        }
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        }


    </div>

    @* design of the popup *@
    <div class="container">
        <div class="modal fade" tabindex="-1" id="ConfirmRmvMember" data-keyboard="false" data-backdrop="static" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Are you sure?</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>They might start hating you for this >:(</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger confirmationbutton" data-dismiss="modal">YES</button>
                        <button type="button" class="btn btn-outline-dark confirmationbutton" data-dismiss="modal">NO!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* end of the design of the popup *@

</body>
</html>